*{
    margin: 0;
    padding: 0;
}
.nav{
    margin:10px;
    padding: 20px;
    background-color:black;
    height: 70px;
    display: flex;  
}
.nav ul li a{
    color: white;
    padding: 15px;
    /* display: flex; */
    margin: 30px;
    text-decoration: none;
    align-items: center;
    text-align: center;
    list-style-type: none;
}
.list{
    text-decoration: none;
    text-align: center;
    align-items: center;
    list-style-type: none;

}
.span{
    color: white;
    margin: 20px;
}
.nav h3{
    color: orangered;
}
.nav ul li a:hover{
    color: orangered;
    /* background-color: white; */
    /* color: white; */
}
 .nav ul li button{
    text-align: right;
    color:white;
    background-color: orangered;
 }
 .nav ul li button:hover{
    background-color: orangered;
 }
 .main{
    padding: 20px;
    height: 400px;
    margin: 20px;
    background-color: black;
    color: white;
 }
 .main h3{
    font-size: 80px;
 }
 .main h5{
    font-size: 30px;
 }
 .Programmer{
    color: orangered;
 }
  .Developer{
    color: orangered;
}
.font{
    font-size: 30px;
    /* border-radius: 20px; */
    border-color: orangered;
}
.fa-brands{
    border-color: orangered;
}
.about{
    /* align-items: center; */
    text-align: center;
    display: flex;
    height: 300px;
    background-color: aqua;
    /* background-color: black; */
    /* color: white; */
    
}
.footer{
    margin: 20px;
    height: 130px;
    background-color:black;
    font-size: 30px;
    color: white;
    text-align: center;
 }
 .span-foot{
    color: orangered;
 }
 .last{
    margin-top: 20px;
    font-size: 20px;
 
 }
 .byte-builder{
    margin-top: 10px;
    font-size: 15px;
 }